* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main_box {
  background-image: url("../assets/photo.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

#check {
  appearance: none;
}

.btn_one {
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  transition: all 0.3s ease;
}
.btn_one:hover {
  scale: 1.1;
}

.sidebar_menu {
  position: fixed;
  height: 100%;
  top: 0;
  left: -300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}

.logo {
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  padding: 16px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}
.logo a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.884);
}
.btn_two {
  position: absolute;
  right: 16px;
  top: 23px;
  font-size: 25px;
  transition: all 0.5s ease;
}
.btn_two:hover {
  scale: 1.2;
}

.menu {
  position: absolute;
  top: 80px;
  width: 100%;
}
.menu li {
  list-style: none;
  font-size: 1.2rem;
  padding: 16px 16px;
  margin-top: 0.5rem;
}
.menu li:hover {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.416);
}

.menu li a {
  text-decoration: none;
  color: white;
}
.menu li i {
  color: white;
  margin-right: 0.5rem;
}

.social_media {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  text-align: center;
}

.social_media i {
  color: rgba(255, 255, 255, 0.655);
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0.4rem;
}

.social_media i:hover {
  color: rgba(255, 255, 255, 0.926);
  scale: 1.1;
}

#check:checked ~ .sidebar_menu {
  left: 0px;
}
#check:checked ~ .btn_one {
  display: none;
}
